@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Podes dirigirte a mis repositorios de Git Hub accediendo a la siguiente url:  <a href="https://github.com/">Mateo Pentito</a>.</p>
  
</div>
